{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='css/auth.css') }}">
{% endblock %}

{% block body %}
<div class="form-container">
    <h2 class="form-title">Welcome Back</h2>
    <p class="form-subtitle">Please enter your details to sign in</p>

    <div id="error-message"></div>

    <form>
        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="email" id="email" name="email" class="form-control" placeholder="you@example.com" required>
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="••••••••" required>
        </div>

        <button
                type="submit"
                class="btn-submit"
                hx-post="/auth/signin/"
                hx-target="#error-message"
                hx-swap="innerHTML"
        >
            Sign In
        </button>
    </form>

    <a href="{{ url_for('get_signup') }}" class="switch-link">
        Don't have an account yet? Create an account!
    </a>
</div>
{% endblock %}
